#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Jul  9 17:19:15 2020

@author: admin
"""

<h1>Welcome to Adoption Page</h1>

<h3>Here you can perform various adoption commands</h3>


<h2>Add Adoption</h2>
<button onclick="location.href = 'addadoption';" id="myButton" class="float-left submit-button" >Add Adoption</button>


<h2>Add Adoption Application</h2>
<button onclick="location.href = 'adoptionapplication';" id="myButton" class="float-left submit-button">Add Adoption Application</button>

<h2>Adoption Application Review</h2>
<button onclick="location.href = 'applicationreview';" id="myButton" class="float-left submit-button">Adoption Application Review</button>



