{% extends "layout.html" %}
{% block content %}


	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver2 m-b-110">	
									<table data-vertable="ver2">
									<tr><th></th>
										</tr>
										<tr>
										<td style="min-width:400px">
											<form method="POST" action"">
												<fieldset> 
													<legend>Report Menu</legend>
														<ul>
															<li><a href='Animal_con'>Animal Control Report</a></li>
															<li><a href='Monthly_ado'>Monthly Adoption Report</a></li>
															<li><a href='Expense_ans'>Expense Analysis</a></li>
															<li><a href='Volunteer_lo'>Volunteer Lookup</a></li>
														</ul>
												</fieldset>
											</form>
										</td>
									</tr>
								</table>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}